.coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  color: #fff;
  border-radius: 1em; }
  .coupon a {
    color: #fff;
    text-decoration: none; }

/*# sourceMappingURL=index.css.map */
