.dashboard
  display: flex
  flex-direction: column
  align-items: center
  justify-items: auto
  background-color: #ECF0F1
  height: 100vh
  overflow-x: hidden
  width: 100%
  .modal
    position: absolute
    height: 100vh
    width: 100vw
    background-color: rgba(200,200,200,0.5)
    display: flex
    align-items: center
    justify-content: center
    .container
      background-color: #444444
      height: 50vh
      width: 50vw
      border-radius: 2em
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      .header
        height: 2em
        background-color: #333
        width: 100%
        border-radius: 2em
        margin: 0
        padding: 0
        display: flex
        align-items: center
        justify-content: flex-end
        span
          margin-right: 1em
      .wrapper
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        height: 100%
        input, button
          font-size: 2em
          padding: 0 1em
          width: auto



  .header
    font-size: 2em
    padding: 25px 100px
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: #111
    width: 90%
    margin-bottom: 1em
    color: #fff
  .dashboard_grid
    width: 90%
    display: grid
    grid-template-rows: 1fr 1fr
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-column-gap: 1em
    grid-row-gap: 1em
    margin: 0 1em
