.login
  width: 40%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  height: 50vh


  input, button
    height: 2em
    font-size: 2em
    margin: 1em 0
    padding: 0 1em

  .controll
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between

  .response
    width: 100%
    font-size: 2em
    text-align: center